<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <title>数据查询</title>
    <link rel="stylesheet" href="__ADMIN_ACEADMIN__/css/style.css?v=20170404">
</head>
<body>
	<div class="container page-home">
		<header class="header">
			<a href="javascript:;" class="icon-menu js-show-menu">导航</a>
            <a href="tel:0755-86528116" class="icon-phone">退出</a>
            <h1>数据查询</h1>
            <nav class="navi">
                <ul>
                    <li><a href="#">预约查看</a></li>
                    <li><a href="#">患者个人信息</a></li>
                </ul>
            </nav>
        </header>

        <section class="page-wrap" id="page-viewdata">
            <div class="query clearfix">
                <div class="left">
                    <select class="queryType" name="queryType" id="" placeholder="科室、专家、渠道">
                        <option value="0">科室</option>
                        <option value="1">专家</option>
                        <option value="3">渠道</option>
                    </select>
                    <input type="text" id="star-data" class="input-date input-date-stare" placeholder="2017/04/10" readonly>
                    <span class="split fl"></span>
                    <input type="text" id="end-data" class="input-date input-date-end" placeholder="2017/04/12" readonly>
                </div>
                <div class="right">
                    <input type="submit" class="queryButton" @click="query" value="查询">
                </div>
            </div>

            <div class="date-content" v-scroll="loadMore">
                <demo-grid
                    :data="gridData"
                    :columns="gridColumns"
                    :filter-key="searchQuery">
                </demo-grid>
            </div>
		</section>
	</div>

    <!-- component template -->
    <script type="text/x-template" id="grid-template">
        <div class="table">
            <div class="table-head">
                <table>
                    <thead>
                        <tr>
                            <th v-for="(key, index) in columns"
                                @click="sortBy(key,index)"
                                :class="[{ active: sortKey == key }, 'table-cell-'+key]">
                                {{ key | replaceYuYueKey }}
                                <span v-if="index!=0" class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"></span>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="table-body">
                <table>
                    <tbody>
                        <tr v-for="entry in filteredData">
                            <td v-for="key in columns" :class="'table-cell-'+key">
                                {{entry[key]}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-foot">
                <table>
                    <tfoot>
                        <tr>
                            <td v-for="(key , index) in columns" :class="'table-cell-'+key">{{index == 0 ? '总计' : quantity(key)}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </script>

    <script src="__ADMIN_ACEADMIN__/js/jquery-3.1.0.min.js"></script>
    <script src="__ADMIN_ACEADMIN__/js/vue.js"></script>
    <script src="__ADMIN_ACEADMIN__/js/lCalendar.min.js"></script>
    <script src="__ADMIN_ACEADMIN__/js/init.js"></script>


</body>
</html>
