@charset "utf-8";


/*hd-add2*/
.hd-add2 form{font-size:14px;color:#353535;}
.hd-add2 form dl{overflow:hidden;margin-bottom:16px;}
.hd-add2 form dt{width:100px;float:left;line-height:36px;}
.hd-add2 form dd{width:300px;float:left;}
.hd-add2 form dd input,.hd-add2 form dd select{width:240px;height:34px;line-height:34px; border:1px solid #c2c2c2;border-radius:4px;}
.hd-add2 form dd select{height:36px;line-height:36px; width:245px;}
.hd-add2 form dd label{line-height:36px;margin-right:10px;}
.hd-add2 form dd label input{width:12px;height:12px;}
.hd-add2 form dd textarea{width:240px;height:118px; border:1px solid #c2c2c2;border-radius:4px;}
.hd-add2 .btns{overflow:hidden;margin-top:38px;}
.hd-add2 .btns input{width:120px;height:45px;background-color:#438eb9;font-size:16px;color:#fff;line-height:45px;border:none;float:left;margin:0 26px;}
.hd-add2 .btns input.reset{background-color:#fd6637;}